<a href="https://colab.research.google.com/github/hemrajojha/CSC410/blob/main/Unit_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/
#dataset
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [2]:
#The apriori function expects data in a one-hot encoded pandas DataFrame.
#We can transform it into the right format via the TransactionEncoder

In [3]:
#import packages
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [4]:
#create an array of onehot encoded dataset
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [6]:
te_ary

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True, False,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [7]:
#convert into dataframe
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Apple   Corn   Dill   Eggs  Ice cream  ...   Milk  Nutmeg  Onion  Unicorn  Yogurt
0  False  False  False   True      False  ...   True    True   True    False    True
1  False  False   True   True      False  ...  False    True   True    False    True
2   True  False  False   True      False  ...   True   False  False    False   False
3  False   True  False  False      False  ...   True   False  False     True    True
4  False   True  False   True       True  ...  False   False   True    False   False

[5 rows x 11 columns]

In [10]:
#import apriori class from mlxtend.frequent_patterns library
#https://github.com/rasbt/mlxtend/blob/master/mlxtend/frequent_patterns/apriori.py
from mlxtend.frequent_patterns import apriori

In [11]:
#Now, let us return the items and itemsets with at least 60% support
apriori(df, min_support=0.6)

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

In [12]:
#By default, apriori returns the column indices of the items, which may be useful in downstream operations such as association rule mining. 
#For better readability, we can set use_colnames=True to convert these integer values into the respective item names:
apriori(df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Onion, Eggs)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Onion, Eggs, Kidney Beans)

In [13]:
#Let's assume we are only interested in itemsets of length 2 that have a support of at least 80 percent. 
#First, we create the frequent itemsets via apriori and add a new column that stores the length of each itemset:

In [15]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
#In Pandas, we have the freedom to add different functions whenever needed like lambda function, sort function, etc. 
#We can apply a lambda function to both the columns and rows of the Pandas data frame.

In [16]:
frequent_itemsets

    support                     itemsets  length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Eggs, Kidney Beans)       2
6       0.6                (Onion, Eggs)       2
7       0.6         (Kidney Beans, Milk)       2
8       0.6        (Onion, Kidney Beans)       2
9       0.6       (Kidney Beans, Yogurt)       2
10      0.6  (Onion, Eggs, Kidney Beans)       3

In [17]:
#Then, we can select the results that satisfy our desired criteria
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.8) ]

   support              itemsets  length
5      0.8  (Eggs, Kidney Beans)       2

In [18]:
#Similarly, using the Pandas API, we can select entries based on the "itemsets" column
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Onion', 'Eggs'} ]

   support       itemsets  length
6      0.6  (Onion, Eggs)       2

In [23]:
#http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/fpgrowth/
#Task: Use this link for practicing fpgrowth algorithm

support     float64
itemsets     object
length        int64
dtype: object

In [24]:
#Association Rules
#https://ashishpandita12.files.wordpress.com/2019/10/apriori-algorithm-in-python.pdf

In [27]:
pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=b5e84f629f47bd2f9b248b8748e29e419e02949c525b795bd7e9c433e8507642
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [28]:
import apyori
from apyori import apriori

In [ ]:
#for this library data should be converted into list of lists
records =[]
for i in range(0 to len(df))

In [33]:
association_rules = apriori(dataset,min_support=0.50,min_confidence=0.7,min_lift=1.2,min_length=2)

In [34]:
association_results = list(association_rules)

In [36]:
print(len(association_results))

2

In [35]:
print(association_results)

[RelationRecord(items=frozenset({'Eggs', 'Onion'}), support=0.6, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Eggs'}), items_add=frozenset({'Onion'}), confidence=0.7499999999999999, lift=1.2499999999999998), OrderedStatistic(items_base=frozenset({'Onion'}), items_add=frozenset({'Eggs'}), confidence=1.0, lift=1.25)]), RelationRecord(items=frozenset({'Eggs', 'Kidney Beans', 'Onion'}), support=0.6, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Eggs'}), items_add=frozenset({'Kidney Beans', 'Onion'}), confidence=0.7499999999999999, lift=1.2499999999999998), OrderedStatistic(items_base=frozenset({'Onion'}), items_add=frozenset({'Eggs', 'Kidney Beans'}), confidence=1.0, lift=1.25), OrderedStatistic(items_base=frozenset({'Eggs', 'Kidney Beans'}), items_add=frozenset({'Onion'}), confidence=0.7499999999999999, lift=1.2499999999999998), OrderedStatistic(items_base=frozenset({'Kidney Beans', 'Onion'}), items_add=frozenset({'Eggs'}), confidence=1.0, lift=1.25)])]